.body{
  margin:0px;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
} 

.debris-list {
  padding: 10px;
  border: 1px solid black;
}

.debris {
  list-style-type: none;
  padding: 5px;
  border: 1px solid red;
}